@import "../../../assets/styles/variables.scss";

.button {
	background: $primary;
	border: 1px solid $primary;
	padding: 7px;
	border-radius: 3px;
	color: $white;
	cursor: pointer;

	&:hover {
		background-color: darken($primary, 10%);
		transition: ease-in 0.2s;
	}

	&:active {
		outline: 0;
	}
}
