.input-wrapper {
	margin-top: 25px;

	&--label {
		color: #eb5535;
		// color: black;
		padding-bottom: 2px;
		font-size: 12px;
	}

	&--input {
		width: 100%;
		border-radius: 2px;
		height: 30px;
		border-radius: 0;
	}
}
